/*
|--------------------------------------------------------------------------
| FONTS
|--------------------------------------------------------------------------
*/

@font-face {
  font-family: 'AlternateGothicStdNo2';
  font-style: normal;
  font-weight: 400; 
  src: url(../fonts/AlternateGothicStdNo2.eot);
  src: url(../fonts/AlternateGothicStdNo2.eot?#AlternateGothicStdNo2) format('embedded-opentype'),
       url(../fonts/AlternateGothicStdNo2.svg?#AlternateGothicStdNo2) format('svg'),
       url(../fonts/AlternateGothicStdNo2.woff2) format('woff2'),
       url(../fonts/AlternateGothicStdNo2.woff) format('woff'),
       url(../fonts/AlternateGothicStdNo2.ttf) format('truetype');
}

@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400; 
  src: url(../fonts/Georgia.eot);
  src: url(../fonts/Georgia.eot?#Georgia) format('embedded-opentype'),
       url(../fonts/Georgia.svg?#Georgia) format('svg'),
       url(../fonts/Georgia.woff2) format('woff2'),
       url(../fonts/Georgia.woff) format('woff'),
       url(../fonts/Georgia.ttf) format('truetype');
}

@font-face {
  font-family: 'GeorgiaItalic';
  font-style: italic;
  font-weight: 400; 
  src: url(../fonts/GeorgiaItalic.eot);
  src: url(../fonts/GeorgiaItalic.eot?#GeorgiaItalic) format('embedded-opentype'),
       url(../fonts/GeorgiaItalic.svg?#GeorgiaItalic) format('svg'),
       url(../fonts/GeorgiaItalic.woff2) format('woff2'),
       url(../fonts/GeorgiaItalic.woff) format('woff'),
       url(../fonts/GeorgiaItalic.ttf) format('truetype');
}
