vendor/
node_modules/
storage/app/*.*
storage/framework/cache/*.*
storage/framework/sessions/*.*
storage/framework/views/*.*
storage/app/*.*
bootstrap/cache/*.*

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
storage/*.key
#.env.*.php
#.env.php
#.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/


Homestead.yaml
Homestead.json

# Resources, assets and compiled files.
resources/assets/
public/build/
public/fonts/
public/uploads/

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~


# OS or Editor forlders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
nbproject
*.sublime-project
*.sublime-workspace
.idea
.hg
.svn
.CVS
.buildpath


!/.gitignore
/vendor
/node_modules
Homestead.yaml
Homestead.json

